<script lang="ts" setup>
import { ref } from "vue";

const num = ref(0);
const addNumber = (num: number) => {
  numberList.value.splice(0, numberList.value.length);
  for (let i = 1; i <= num; i++) {
    numberList.value.push(i);
  }
};

const numberList = ref<number[]>([]);
</script>

<template>
  <v-container>
    <v-text-field
      v-model="num"
      label="Please input Number"
      type="please input number"
      :rules="[(v) => !!v || 'Number is not empty!!']"
      filled
      clearable
      required
      :oninput="addNumber(num)"
    ></v-text-field>

    <v-row>
      <v-col md="1" cols="12" v-for="item in numberList" :key="item">
        {{ item }}
      </v-col>
    </v-row>
  </v-container>
</template>
