<script lang="ts" setup>
import { ref } from "vue";

const text = ref("");
const pic = ref("");

const Emo = (item: { name: string; img: string }) => {
  text.value = item.name;
  pic.value = item.img;
};

const SwitchColor = (item: { id: number; active: boolean }) => {
  refresh();
  if (item.active === true) {
    item.active = true;
  } else {
    item.active = !item.active;
  }
};

const refresh = () => {
  feeling.value.forEach((item) => (item.active = false));
};

const feeling = ref([
  {
    id: 1,
    name: "Angry",
    img: "feeling_imgs/angry.png",
    active: false,
  },
  {
    id: 2,
    name: "Cute",
    img: "feeling_imgs/cute.png",
    active: false,
  },
  {
    id: 3,
    name: "Excited",
    img: "feeling_imgs/excited.png",
    active: false,
  },
  {
    id: 4,
    name: "Pain",
    img: "feeling_imgs/pain.png",
    active: false,
  },
  {
    id: 5,
    name: "Shocked",
    img: "feeling_imgs/shocked.png",
    active: false,
  },
  {
    id: 6,
    name: "Smile",
    img: "feeling_imgs/smile.png",
    active: false,
  },
]);
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6" class="mt-10">
        <v-img :src="pic" width="80%"></v-img>
      </v-col>
      <v-col cols="6">
        <h1
          style="text-align: center; margin-top: 10vh; margin-bottom: 5vh"
          class="text-h3"
        >
          {{ text }}
        </h1>
        <v-row
          v-for="(item, index) of feeling"
          :key="index"
          class="justify-center mb-5"
        >
          <v-btn
            :class="{ 'color-btn2': item.active, 'color-btn1': !item.active }"
            width="30vw"
            height="4vh"
            @click="Emo(item), SwitchColor(item)"
            >{{ item.name }}</v-btn
          >
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.color-btn1 {
  background-color: white;
}

.color-btn2 {
  background-color: yellow;
}
</style>
