<script lang="ts" setup>
import { ref, computed } from "vue";

const products = ref(
  Array.from(Array(100).keys()).map((item) => {
    return {
      id: item,
      name: "Product " + (item + 1),
      price: (Math.floor(Math.random() * 100) + 1) * 10,
    };
  })
);
const listOrder = ref<{ id: number; name: string; price: number }[]>([]);
const addOrder = (item: { id: number; name: string; price: number }) => {
  listOrder.value.push(item);
};

const total = computed(function () {
  return listOrder.value.reduce((sum, item) => sum + item.price, 0);
});
</script>
<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-container
          class="product-screen"
          style="height: 80vh; overflow: auto"
          fluid
        >
          <v-row>
            <v-col cols="12" md="4" v-for="item in products" :key="item.id">
              <v-card align="center">
                <v-card-title>
                  {{ item.name }}
                </v-card-title>
                <v-card-subtitle>{{ item.price }}</v-card-subtitle>
                <v-btn class="mb-4 mt-2" @click="addOrder(item)">ADD</v-btn>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
      </v-col>

      <v-col>
        <v-container
          class="order-screen"
          style="height: 80vh; overflow: auto"
          fluid
        >
          <v-table>
            <thead>
              <tr>
                <th>id</th>
                <th>name</th>
                <th>price</th>
              </tr>
            </thead>
            <tbody>
              <tr v-if="listOrder.length === 0">
                <th colspan="12" style="text-align: center">NO Data</th>
              </tr>
              <tr v-else v-for="(item, index) of listOrder" :key="index">
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
              </tr>
            </tbody>
          </v-table>
        </v-container>
        <h1 class="mt-5" style="align-self: flex-end">SUM : {{ total }}</h1>
      </v-col>
    </v-row>
  </v-container>
</template>
