<script setup lang="ts">
import { useCounterStore } from "@/stores/counter";

const counterstores = useCounterStore();
</script>
<template>
  <div>Second Component</div>
  <div>{{ counterstores.doubleCount }}</div>
  <br />
  <v-btn @click="counterstores.Decrease">DECREASE</v-btn>
</template>
